%div{ class: wrapper_classes }
  %label{ for: name, class: label_classes }
    = label
    - if required
      %span{ class: theme.form.required_indicator } *

  = content

  - if hint && !has_errors?
    %p.mt-1.text-sm{ class: theme.muted_text }
      = hint

  - if has_errors?
    %div{ class: error_classes }
      = heroicon "exclamation-circle", variant: :mini, options: { class: theme.form.error_icon }
      %p{ class: theme.form.error_text }
        = errors.join(", ")
