.p-8.max-w-7xl.mx-auto{ class: t.font_family }
  .flex.items-center.justify-between.mb-6
    %h1.text-2xl{ class: cp_heading }= @resource_class.label
    - if @resource_class.action_allowed?(:create)
      = link_to I18n.t("command_post.resources.index.new_button", model: @resource_class.model.model_name.human),
        new_resource_path(@resource_class.resource_name),
        class: cp_btn_primary

  - if @resource_class.all_scopes.any? || @resource_class.searchable_columns.any?
    .flex.items-center.justify-between.mb-4
      - if @resource_class.all_scopes.any?
        .flex.gap-1.border-b{ class: t.card_border }
          - @resource_class.all_scopes.each do |scope|
            - active = @current_scope == scope[:name].to_s
            = link_to scope[:name].to_s.humanize,
              resources_path(@resource_class.resource_name, scope: scope[:name], q: params[:q]),
              class: "px-4 py-2 text-sm font-medium border-b-2 -mb-px #{active ? cp_scope_active : cp_scope_inactive}"

      - if @resource_class.searchable_columns.any?
        = form_tag resources_path(@resource_class.resource_name), method: :get, class: "flex ml-auto" do
          = hidden_field_tag :scope, @current_scope
          - @resource_class.defined_filters.each do |filter|
            - value = params.dig(:filters, filter[:name])
            - if value.present?
              = hidden_field_tag "filters[#{filter[:name]}]", value
          .relative
            .pointer-events-none.absolute.inset-y-0.left-0.flex.items-center{ class: "pl-3.5" }
              = heroicon "magnifying-glass", variant: :mini, options: { class: "h-4 w-4 #{cp_muted_text}" }
            = text_field_tag :q, params[:q],
              placeholder: I18n.t("command_post.resources.index.search_placeholder"),
              class: cp_search_class

  - if @resource_class.defined_filters.any?
    - has_active_filters = @resource_class.defined_filters.any? { |f| params.dig(:filters, f[:name]).present? || params.dig(:filters, "#{f[:name]}_from").present? || params.dig(:filters, "#{f[:name]}_to").present? }
    - select_chevron_style = "background-image: url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e\"); background-position: right 0.5rem center; background-repeat: no-repeat; background-size: 1.5em 1.5em; padding-right: 2.5rem;"
    .flex.justify-end.mb-4
      %details.relative.group{ open: has_active_filters || nil }
        %summary.inline-flex.items-center.gap-2.px-4.cursor-pointer.select-none.text-sm.font-medium.rounded-lg.border.shadow-sm.transition.duration-150{ class: "#{cp_label_text} #{t.card_border} #{t.card_bg} py-2.5 hover:bg-gray-50 [&::-webkit-details-marker]:hidden", style: "list-style: none;" }
          = heroicon "funnel", variant: :mini, options: { class: "h-4 w-4 #{cp_muted_text}" }
          %span= I18n.t("command_post.resources.index.filters_label")
          - if has_active_filters
            - active_count = @resource_class.defined_filters.count { |f| params.dig(:filters, f[:name]).present? || params.dig(:filters, "#{f[:name]}_from").present? || params.dig(:filters, "#{f[:name]}_to").present? }
            %span{ class: cp_badge_count }
              = active_count
          = heroicon "chevron-down", variant: :mini, options: { class: "h-4 w-4 text-gray-400 transition-transform group-open:rotate-180" }
        .absolute.right-0.top-full.mt-2.w-72.border.z-20{ class: "#{t.border_radius} #{t.card_border} #{t.card_bg} #{t.card_shadow}-lg" }
          = form_tag resources_path(@resource_class.resource_name), method: :get, class: "p-4" do
            = hidden_field_tag :scope, @current_scope
            = hidden_field_tag :q, params[:q]
            .space-y-3
              - @resource_class.defined_filters.each do |filter|
                .space-y-1
                  %label.block.text-xs.font-semibold.uppercase.tracking-wider{ class: cp_muted_text }
                    = filter[:name].to_s.humanize
                  - case filter[:type]
                  - when :select
                    %select.block.w-full.appearance-none.border.px-3.py-2.text-sm.shadow-sm.outline-none.transition.duration-150.ease-in-out{ name: "filters[#{filter[:name]}]", class: "#{t.border_radius} #{t.input_border} #{t.card_bg} #{cp_body_text} #{cp_focus}", style: select_chevron_style }
                      %option{ value: "" }= I18n.t("command_post.resources.index.all_option")
                      - filter_options_for(@resource_class, filter).each do |label, value|
                        %option{ value: value, selected: params.dig(:filters, filter[:name]) == value.to_s }= label
                  - when :boolean
                    %select.block.w-full.appearance-none.border.px-3.py-2.text-sm.shadow-sm.outline-none.transition.duration-150.ease-in-out{ name: "filters[#{filter[:name]}]", class: "#{t.border_radius} #{t.input_border} #{t.card_bg} #{cp_body_text} #{cp_focus}", style: select_chevron_style }
                      %option{ value: "" }= I18n.t("command_post.resources.index.all_option")
                      - filter_options_for(@resource_class, filter).each do |label, value|
                        %option{ value: value, selected: params.dig(:filters, filter[:name]) == value.to_s }= label
                  - when :date_range
                    .space-y-2
                      = date_field_tag "filters[#{filter[:name]}_from]", params.dig(:filters, "#{filter[:name]}_from"),
                        class: cp_filter_input_class,
                        placeholder: I18n.t("command_post.filters.from")
                      = date_field_tag "filters[#{filter[:name]}_to]", params.dig(:filters, "#{filter[:name]}_to"),
                        class: cp_filter_input_class,
                        placeholder: I18n.t("command_post.filters.to")
            .flex.items-center.gap-3.mt-4.pt-3.border-t.border-gray-100
              %button{ type: "submit", class: cp_btn_filter_apply }= I18n.t("command_post.resources.index.apply_button")
              = link_to I18n.t("command_post.resources.index.clear_button"), resources_path(@resource_class.resource_name, scope: @current_scope, q: params[:q]),
                class: "text-sm #{cp_link_muted}"

  - has_bulk_actions = @resource_class.defined_bulk_actions.any?
  = turbo_frame_tag "records" do
    = form_tag "#", method: :post, id: "bulk-actions-form", data: (has_bulk_actions ? { controller: "cp-bulk-select" } : {}) do
      - if has_bulk_actions
        .hidden.items-center.gap-3.mb-4.px-4.py-3.border{ data: { cp_bulk_select_target: "bar" }, class: "#{t.border_radius} #{t.card_border} #{t.card_bg} #{t.card_shadow}" }
          %span.text-sm.font-medium{ class: cp_muted_text }
            %span{ data: { cp_bulk_select_target: "count" } } 0
            = I18n.t("command_post.resources.index.selected_label", default: "selected")
          .flex.items-center.gap-2
            - @resource_class.defined_bulk_actions.each do |action|
              %button{ type: "submit", class: "#{t.btn_secondary} px-3 py-1.5 text-sm font-medium rounded-lg inline-flex items-center gap-1",
                formaction: resource_bulk_action_path(@resource_class.resource_name, action[:name]) }
                - if action[:icon]
                  = heroicon action[:icon], variant: :mini, options: { class: "h-4 w-4" }
                = action[:name].to_s.humanize
      - sticky = CommandPost.configuration.sticky_actions_column
      - sticky_th = sticky ? "sticky right-0 z-10 #{t.table_header_bg}" : ""
      - sticky_td = sticky ? "sticky right-0 z-10 #{t.card_bg}" : ""
      - sticky_shadow = sticky ? "shadow-[-4px_0_6px_-4px_rgba(0,0,0,0.08)]" : ""
      .overflow-x-auto
        %table.min-w-full{ class: "#{cp_table_border} divide-y #{t.card_bg} #{t.border_radius} #{t.card_shadow}" }
          %thead{ class: cp_table_header_bg }
            %tr
              - if has_bulk_actions
                %th.px-6.py-3.w-4
                  %input{ type: "checkbox", class: "rounded border-gray-300",
                    data: { cp_bulk_select_target: "selectAll", action: "change->cp-bulk-select#toggleAll" } }
              - @fields.each do |field|
                - next unless field.visible?(command_post_current_user)
                - sorted = params[:sort] == field.name.to_s
                - next_dir = sorted && params[:direction] == "asc" ? "desc" : "asc"
                %th.px-6.py-3.text-left.text-xs.font-medium.uppercase.tracking-wider{ class: cp_muted_text }
                  = link_to resources_path(@resource_class.resource_name, sort: field.name, direction: next_dir, scope: @current_scope, q: params[:q]),
                    class: "inline-flex items-center gap-1 group" do
                    = field.name.to_s.humanize
                    - if sorted
                      = heroicon(params[:direction] == "asc" ? "chevron-up" : "chevron-down", variant: :mini, options: { class: "h-3.5 w-3.5" })
                    - else
                      = heroicon "chevron-up-down", variant: :mini, options: { class: "h-3.5 w-3.5 opacity-0 group-hover:opacity-50 transition-opacity" }
              %th{ class: "px-6 py-3 #{sticky_th} #{sticky_shadow}" }
          %tbody{ class: "#{cp_table_border} divide-y" }
            - if @records.empty?
              %tr
                %td.px-6.py-8.text-center.text-sm{ colspan: (@fields.count { |f| f.visible?(command_post_current_user) }) + (has_bulk_actions ? 2 : 1), class: cp_muted_text }
                  = I18n.t("command_post.resources.index.empty_state")
            - @records.each do |record|
              %tr{ class: cp_table_row_hover }
                - if has_bulk_actions
                  %td.px-6.py-4.w-4
                    %input{ type: "checkbox", name: "ids[]", value: record.id, class: "rounded border-gray-300",
                      data: { cp_bulk_select_target: "checkbox", action: "change->cp-bulk-select#toggle" } }
                - @fields.each do |field|
                  - next unless field.visible?(command_post_current_user)
                  %td.px-6.py-4.whitespace-nowrap.text-sm{ class: cp_body_text }
                    = display_index_field_value(record, field)
                %td.whitespace-nowrap.text-right.text-sm{ class: "px-6 py-4 #{sticky_td} #{sticky_shadow}" }
                  = link_to I18n.t("command_post.resources.index.view_link"), resource_path(@resource_class.resource_name, record),
                    class: cp_link, data: { turbo_frame: "_top" }

    .mt-4
      = render "command_post/shared/pagination", pagy: @pagy

