%div{ class: "#{theme.card_bg} border #{theme.card_border} #{theme.border_radius} #{theme.card_shadow}" }
  .px-6.py-4.border-b{ class: theme.card_border }
    %h3.text-lg.font-semibold{ class: theme.body_text }
      = title

  %ul.divide-y{ class: theme.card_border, role: "list" }
    - items.each do |item|
      = item
