%div{ class: "#{t.card_bg} #{t.border_radius} #{t.card_shadow}" }
  .px-6.py-4.border-b{ class: t.card_border }
    %h3.text-lg.font-semibold{ class: t.body_text }= "Recent #{label}"
  %table{ class: "#{t.table.wrapper} #{t.table_border}" }
    %thead{ class: t.table_header_bg }
      %tr
        - fields.each do |field|
          %th{ class: t.table.header_cell }= field.name.to_s.humanize
    %tbody{ class: "divide-y #{t.table_border}" }
      - @records.each do |record|
        %tr{ class: t.table_row_hover }
          - fields.each do |field|
            %td{ class: "#{t.table.body_cell} #{t.body_text}" }= display_value(record, field)
