%header{ class: "#{t.navbar.wrapper} #{t.navbar_bg} #{t.navbar_border}" }
  = form_with url: helpers.iron_admin.search_path, method: :get, class: "flex-1 max-w-lg" do
    .relative
      .pointer-events-none.absolute.inset-y-0.left-0.flex.items-center{ class: "pl-3.5" }
        = helpers.heroicon "magnifying-glass", variant: :mini, options: { class: t.navbar.search_icon }
      %input{ type: "search", name: "q", placeholder: "Search across all resources...", class: cp_navbar_search_class }
  .flex.items-center.gap-4
    - if @current_user
      %span{ class: t.navbar.user_text }= @current_user.try(:name) || @current_user.try(:email)
