%nav{ class: "#{t.sidebar.nav} #{cp_sidebar_bg} #{cp_sidebar_title}" }
  %div{ class: t.sidebar.section_padding }
    - if logo
      = image_tag logo, class: t.sidebar.logo_height
    - else
      %h1.text-xl.font-bold= title

  .flex-1{ class: t.sidebar.nav_padding }
    = link_to helpers.iron_admin.root_path,
      class: "#{t.sidebar.link_base} #{cp_sidebar_link} mb-1" do
      = helpers.heroicon "home", variant: :outline, options: { class: "h-5 w-5" }
      = I18n.t("iron_admin.navigation.dashboard")

    - grouped_resources.each do |group, resources|
      .mt-6
        %p{ class: "#{t.sidebar.group_label_base} #{cp_sidebar_group_label}" }= group
        .mt-2.space-y-1
          - resources.sort_by { |r| r.menu_options[:priority] || 999 }.each do |resource|
            = link_to helpers.iron_admin.resources_path(resource.resource_name),
              class: "#{t.sidebar.link_base} #{cp_sidebar_link}" do
              - if resource.menu_options[:icon]
                = helpers.heroicon resource.menu_options[:icon], variant: :outline, options: { class: "h-5 w-5" }
              = resource.label

    - grouped_tools.each do |group, tools_list|
      .mt-6
        %p{ class: "#{t.sidebar.group_label_base} #{cp_sidebar_group_label}" }= group
        .mt-2.space-y-1
          - tools_list.sort_by { |tool| tool.menu_options[:priority] || 999 }.each do |tool|
            = link_to helpers.iron_admin.tool_path(tool.tool_name),
              class: "#{t.sidebar.link_base} #{cp_sidebar_link}" do
              - if tool.menu_options[:icon]
                = helpers.heroicon tool.menu_options[:icon], variant: :outline, options: { class: "h-5 w-5" }
              = tool.label
