%div{ class: "#{t.layout.page_wrapper} #{t.font_family}" }
  %div{ class: t.layout.page_header }
    %h1.text-2xl{ class: cp_heading }= @tool_class.label
  %div{ class: "#{t.card.overflow} #{cp_card}" }
    %div{ class: t.card.content_padding }
      %p.text-sm{ class: cp_muted_text }
        = @tool_class.label
