= form_tag form_url, method: :get, class: "flex" do
  - hidden_params.each do |key, val|
    = hidden_field_tag key, val
  .relative
    .pointer-events-none.absolute.inset-y-0.left-0.flex.items-center.pl-3.5
      = heroicon "magnifying-glass", variant: :mini, options: { class: "h-4 w-4 #{theme.muted_text}" }
    = text_field_tag :q, value, placeholder: placeholder, class: input_classes
