- form_url = resource_path(@resource_class.resource_name, @record)

%div{ class: "#{t.layout.page_wrapper} #{t.font_family}" }
  %h1.text-2xl.mb-6{ class: cp_heading }
    = I18n.t("iron_admin.resources.edit.title", model: @resource_class.model.model_name.human)
    %span{ class: cp_muted_text }= "##{@record.id}"

  %div{ class: "#{t.card.content_padding} #{cp_card}" }
    = render "form", form_url: form_url
