%div{ class: "#{t.layout.page_wrapper} #{t.font_family}" }
  %div{ class: t.layout.page_header }
    %h1.text-2xl{ class: cp_heading }= @resource_class.label
    - if @resource_class.action_allowed?(:create)
      = link_to I18n.t("iron_admin.resources.index.new_button", model: @resource_class.model.model_name.human),
        new_resource_path(@resource_class.resource_name),
        class: cp_btn_primary

  - if @resource_class.all_scopes.any? || @resource_class.searchable_columns.any?
    %div{ class: t.scope.wrapper }
      - if @resource_class.all_scopes.any?
        %div{ class: "#{t.scope.container} #{t.card_border}" }
          - @resource_class.all_scopes.each do |scope|
            - active = @current_scope == scope[:name].to_s
            = link_to scope[:name].to_s.humanize,
              resources_path(@resource_class.resource_name, scope: scope[:name], q: params[:q]),
              class: "#{t.scope.base} #{active ? cp_scope_active : cp_scope_inactive}"

      - if @resource_class.searchable_columns.any?
        = form_tag resources_path(@resource_class.resource_name), method: :get, class: "flex ml-auto" do
          = hidden_field_tag :scope, @current_scope
          - @resource_class.defined_filters.each do |filter|
            - value = params.dig(:filters, filter[:name])
            - if value.present?
              = hidden_field_tag "filters[#{filter[:name]}]", value
          .relative
            .pointer-events-none.absolute.inset-y-0.left-0.flex.items-center{ class: "pl-3.5" }
              = heroicon "magnifying-glass", variant: :mini, options: { class: "h-4 w-4 #{cp_muted_text}" }
            = text_field_tag :q, params[:q],
              placeholder: I18n.t("iron_admin.resources.index.search_placeholder"),
              class: cp_search_class

  - if @resource_class.defined_filters.any?
    - has_active_filters = @resource_class.defined_filters.any? { |f| params.dig(:filters, f[:name]).present? || params.dig(:filters, "#{f[:name]}_from").present? || params.dig(:filters, "#{f[:name]}_to").present? }
    %div{ class: t.filter.wrapper }
      %details.relative.group{ open: has_active_filters || nil }
        %summary{ class: "#{t.filter.trigger} #{t.border_radius} #{cp_label_text} #{t.card_border} #{t.card_bg} [&::-webkit-details-marker]:hidden", style: "list-style: none;" }
          = heroicon "funnel", variant: :mini, options: { class: "h-4 w-4 #{cp_muted_text}" }
          %span= I18n.t("iron_admin.resources.index.filters_label")
          - if has_active_filters
            - active_count = @resource_class.defined_filters.count { |f| params.dig(:filters, f[:name]).present? || params.dig(:filters, "#{f[:name]}_from").present? || params.dig(:filters, "#{f[:name]}_to").present? }
            %span{ class: cp_badge_count }
              = active_count
          = heroicon "chevron-down", variant: :mini, options: { class: "#{t.filter.chevron_icon} #{cp_muted_text}" }
        %div{ class: "#{t.filter.panel} #{t.border_radius} #{t.card_border} #{t.card_bg} #{t.card_shadow}-lg" }
          = form_tag resources_path(@resource_class.resource_name), method: :get, class: "p-4" do
            = hidden_field_tag :scope, @current_scope
            = hidden_field_tag :q, params[:q]
            .space-y-3
              - @resource_class.defined_filters.each do |filter|
                .space-y-1
                  %label{ class: "#{t.filter.label} #{cp_muted_text}" }
                    = filter[:name].to_s.humanize
                  - case filter[:type]
                  - when :select
                    %select{ name: "filters[#{filter[:name]}]",
                             class: cp_select_class,
                             style: t.form.select_chevron_style }
                      %option{ value: "" }= I18n.t("iron_admin.resources.index.all_option")
                      - filter_options_for(@resource_class, filter).each do |label, value|
                        %option{ value: value, selected: params.dig(:filters, filter[:name]) == value.to_s }= label
                  - when :boolean
                    %select{ name: "filters[#{filter[:name]}]",
                             class: cp_select_class,
                             style: t.form.select_chevron_style }
                      %option{ value: "" }= I18n.t("iron_admin.resources.index.all_option")
                      - filter_options_for(@resource_class, filter).each do |label, value|
                        %option{ value: value, selected: params.dig(:filters, filter[:name]) == value.to_s }= label
                  - when :date_range
                    .space-y-2
                      = date_field_tag "filters[#{filter[:name]}_from]", params.dig(:filters, "#{filter[:name]}_from"),
                        class: cp_filter_input_class,
                        placeholder: I18n.t("iron_admin.filters.from")
                      = date_field_tag "filters[#{filter[:name]}_to]", params.dig(:filters, "#{filter[:name]}_to"),
                        class: cp_filter_input_class,
                        placeholder: I18n.t("iron_admin.filters.to")
            %div{ class: t.filter.actions_bar }
              %button{ type: "submit", class: cp_btn_filter_apply }= I18n.t("iron_admin.resources.index.apply_button")
              = link_to I18n.t("iron_admin.resources.index.clear_button"), resources_path(@resource_class.resource_name, scope: @current_scope, q: params[:q]),
                class: "text-sm #{cp_link_muted}"

  - has_bulk_actions = @resource_class.defined_bulk_actions.any?
  = turbo_frame_tag "records" do
    = form_tag "#", method: :post, id: "bulk-actions-form", data: (has_bulk_actions ? { controller: "cp-bulk-select" } : {}) do
      - if has_bulk_actions
        %div{ data: { cp_bulk_select_target: "bar" },
              class: "#{t.table.bulk_bar} #{t.border_radius} #{t.card_border} #{t.card_bg} #{t.card_shadow}" }
          %span.text-sm.font-medium{ class: cp_muted_text }
            %span{ data: { cp_bulk_select_target: "count" } } 0
            = I18n.t("iron_admin.resources.index.selected_label", default: "selected")
          .flex.items-center.gap-2
            - @resource_class.defined_bulk_actions.each do |action|
              %button{ type: "submit",
                       class: "#{t.button.variants[:secondary]} #{t.table.bulk_button}",
                       formaction: resource_bulk_action_path(@resource_class.resource_name, action[:name]) }
                - if action[:icon]
                  = heroicon action[:icon], variant: :mini, options: { class: "h-4 w-4" }
                = action[:name].to_s.humanize
      - sticky = IronAdmin.configuration.sticky_actions_column
      - sticky_th = sticky ? "sticky right-0 z-10 #{t.table_header_bg}" : ""
      - sticky_td = sticky ? "sticky right-0 z-10 #{t.card_bg}" : ""
      - sticky_shadow = sticky ? t.table.sticky_shadow : ""
      .overflow-x-auto
        %table{ class: "#{t.table.wrapper} #{t.table_border} divide-y #{t.card_bg} #{t.border_radius} #{t.card_shadow}" }
          %thead{ class: cp_table_header_bg }
            %tr
              - if has_bulk_actions
                %th{ class: t.table.checkbox_cell }
                  %input{ type: "checkbox", class: t.table.checkbox_input,
                    data: { cp_bulk_select_target: "selectAll", action: "change->cp-bulk-select#toggleAll" } }
              - @fields.each do |field|
                - next unless field.visible?(iron_admin_current_user)
                - sorted = params[:sort] == field.name.to_s
                - next_dir = sorted && params[:direction] == "asc" ? "desc" : "asc"
                %th{ class: t.table.header_cell }
                  = link_to resources_path(@resource_class.resource_name, sort: field.name, direction: next_dir, scope: @current_scope, q: params[:q]),
                    class: t.table.sort_link do
                    = field.name.to_s.humanize
                    - if sorted
                      = heroicon(params[:direction] == "asc" ? "chevron-up" : "chevron-down", variant: :mini, options: { class: "h-3.5 w-3.5" })
                    - else
                      = heroicon "chevron-up-down", variant: :mini, options: { class: t.table.sort_icon_inactive }
              %th{ class: "#{t.table.header_cell} #{sticky_th} #{sticky_shadow}" }
          %tbody{ class: "#{cp_table_border} divide-y" }
            - if @records.empty?
              %tr
                %td{ colspan: (@fields.count { |f| f.visible?(iron_admin_current_user) }) + (has_bulk_actions ? 2 : 1),
                     class: "#{t.table.empty_cell} #{cp_muted_text}" }
                  = I18n.t("iron_admin.resources.index.empty_state")
            - @records.each do |record|
              %tr{ class: cp_table_row_hover }
                - if has_bulk_actions
                  %td{ class: t.table.checkbox_cell }
                    %input{ type: "checkbox", name: "ids[]", value: record.id, class: t.table.checkbox_input,
                      data: { cp_bulk_select_target: "checkbox", action: "change->cp-bulk-select#toggle" } }
                - @fields.each do |field|
                  - next unless field.visible?(iron_admin_current_user)
                  %td{ class: "#{t.table.body_cell} #{cp_body_text}" }
                    = display_index_field_value(record, field)
                %td{ class: "#{t.table.actions_cell} #{sticky_td} #{sticky_shadow}" }
                  = link_to I18n.t("iron_admin.resources.index.view_link"), resource_path(@resource_class.resource_name, record),
                    class: cp_link, data: { turbo_frame: "_top" }

    .mt-4
      = render "iron_admin/shared/pagination", pagy: @pagy
