- form_url = resources_path(@resource_class.resource_name)

%div{ class: "#{t.layout.page_wrapper} #{t.font_family}" }
  %h1.text-2xl.mb-6{ class: cp_heading }= I18n.t("iron_admin.resources.new.title", model: @resource_class.model.model_name.human)

  %div{ class: "#{t.card.content_padding} #{cp_card}" }
    = render "form", form_url: form_url
