%div{ class: "#{t.layout.page_wrapper} #{t.font_family}" }
  %div{ class: t.layout.page_header }
    %h1.text-2xl{ class: cp_heading }
      = @resource_class.model.model_name.human
      %span{ class: cp_muted_text }= "##{@record.id}"
    .flex.gap-2
      - if @resource_class.action_allowed?(:update)
        = link_to I18n.t("iron_admin.resources.show.edit_button"), edit_resource_path(@resource_class.resource_name, @record),
          class: cp_btn_primary
      - if @resource_class.action_allowed?(:destroy)
        = button_to I18n.t("iron_admin.resources.show.delete_button"), resource_path(@resource_class.resource_name, @record),
          method: :delete, data: { turbo_confirm: I18n.t("iron_admin.resources.show.delete_confirm") },
          class: cp_btn_danger

  %div{ class: "#{t.card.overflow} #{cp_card}" }
    %dl{ class: "#{cp_table_border} divide-y" }
      - @fields.each do |field|
        - next unless field.visible?(iron_admin_current_user)
        %div{ class: t.display.detail_row }
          %dt{ class: "#{t.display.detail_term} #{cp_muted_text}" }= field.name.to_s.humanize
          %dd{ class: "#{t.display.detail_value} #{cp_body_text}" }= display_field_value(@record, field)

  - @resource_class.has_one_associations.each do |assoc|
    - related_record = @record.public_send(assoc[:name])
    - next unless related_record
    .mt-6{ class: "#{t.card.overflow} #{cp_card}" }
      .px-6.py-4.border-b.flex.items-center.justify-between{ class: t.card_border }
        %h2.text-lg.font-semibold= assoc[:name].to_s.humanize
        = link_to I18n.t("iron_admin.resources.show.view_link"),
          resource_path(assoc[:resource].resource_name, related_record),
          class: "text-sm #{cp_link}"
      %dl{ class: "#{cp_table_border} divide-y" }
        - assoc[:resource].resolved_fields.first(6).each do |field|
          - next if field.name == :id
          - next unless field.visible?(iron_admin_current_user)
          %div{ class: t.display.detail_row_sm }
            %dt{ class: "#{t.display.detail_term} #{cp_muted_text}" }= field.name.to_s.humanize
            %dd{ class: "#{t.display.detail_value} #{cp_body_text}" }= display_field_value(related_record, field)

  - @resource_class.habtm_associations.each do |assoc|
    - related_records = @record.public_send(assoc[:name])
    - next if related_records.empty?
    .mt-6{ class: "#{t.card.overflow} #{cp_card}" }
      .px-6.py-4.border-b{ class: t.card_border }
        %h2.text-lg.font-semibold= assoc[:name].to_s.humanize
      .px-6.py-4
        .flex.flex-wrap.gap-2
          - related_records.each do |related|
            - display = assoc[:display]
            - if assoc[:resource]
              = link_to display_record_label(related, display),
                resource_path(assoc[:resource].resource_name, related),
                class: "#{t.display.chip_link} #{t.display.tag}"
            - else
              %span{ class: t.display.chip_static }
                = display_record_label(related, display)

  - @resource_class.has_many_associations.each do |assoc|
    - related_records = @record.public_send(assoc[:name]).limit(20)
    - next if related_records.empty?
    .mt-6{ class: "#{t.card.overflow} #{cp_card}" }
      .px-6.py-4.border-b.flex.items-center.justify-between{ class: t.card_border }
        %h2.text-lg.font-semibold= assoc[:name].to_s.humanize
        = link_to I18n.t("iron_admin.resources.show.view_all"),
          resources_path(assoc[:resource].resource_name),
          class: "text-sm #{cp_link}"
      %table{ class: "#{t.table.wrapper} #{cp_table_border} divide-y" }
        %tbody{ class: "#{cp_table_border} divide-y" }
          - related_records.each do |related|
            %tr{ class: cp_table_row_hover }
              %td{ class: "#{t.table.body_cell} #{cp_body_text}" }
                - display = assoc[:display]
                = link_to display_record_label(related, display),
                  resource_path(assoc[:resource].resource_name, related),
                  class: cp_link

  - if @resource_class.defined_actions.any?
    .mt-6{ class: "#{t.card.content_padding} #{cp_card}" }
      %h2.text-lg.font-semibold.mb-4= I18n.t("iron_admin.resources.show.actions_label")
      .flex.gap-2
        - @resource_class.defined_actions.each do |action|
          - next if action[:condition] && !action[:condition].call(@record)
          = button_to resource_action_path(@resource_class.resource_name, @record, action[:name]),
            data: action[:confirm] ? { turbo_confirm: I18n.t("iron_admin.resources.show.delete_confirm") } : {},
            class: cp_btn_ghost do
            - if action[:icon]
              = heroicon action[:icon], variant: :outline, options: { class: "h-5 w-5" }
            = action[:name].to_s.humanize
