-# locals: (pagy:)
- if pagy.pages > 1
  %nav.flex.items-center.justify-between.border-t.border-gray-200.bg-white.px-4.py-3{ class: "sm:px-6", "aria-label": "Pagination" }
    .hidden{ class: "sm:block" }
      %p.text-sm.text-gray-700
        Showing
        %span.font-medium= pagy.from
        to
        %span.font-medium= pagy.to
        of
        %span.font-medium= pagy.count
        results

    .flex.flex-1.justify-between{ class: "sm:justify-end" }
      - if pagy.previous
        = link_to url_for(page: pagy.previous), class: "relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0" do
          Previous
      - else
        %span.relative.inline-flex.items-center.rounded-md.bg-white.px-3.py-2.text-sm.font-semibold.text-gray-300.ring-1.ring-inset.ring-gray-300.cursor-not-allowed
          Previous

      - if pagy.next
        = link_to url_for(page: pagy.next), class: "relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0" do
          Next
      - else
        %span.relative.ml-3.inline-flex.items-center.rounded-md.bg-white.px-3.py-2.text-sm.font-semibold.text-gray-300.ring-1.ring-inset.ring-gray-300.cursor-not-allowed
          Next
