!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title= IronAdmin.configuration.title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    - if defined?(ActionText)
      = stylesheet_link_tag "trix", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %script{ type: "module" }
      import "iron_admin"
    - if defined?(ActionText)
      %script{ type: "module" }
        import "trix"
        import "@rails/actiontext"
  %body{ class: "#{IronAdmin.configuration.theme.layout.body} #{IronAdmin.configuration.theme.main_bg}" }
    = render IronAdmin::Layout::ShellComponent.new(current_user: iron_admin_current_user) do
      = yield
