%nav.flex.items-center.justify-between{ aria: { label: "Pagination" } }
  .text-sm{ class: theme.muted_text }
    Showing
    %span.font-medium= pagy_obj.from
    to
    %span.font-medium= pagy_obj.to
    of
    %span.font-medium= pagy_obj.count
    results

  .isolate.inline-flex.-space-x-px.rounded-md.shadow-sm
    - if pagy_obj.prev
      = link_to pagy_url_for(pagy_obj, pagy_obj.prev), class: "#{nav_link_classes} rounded-l-md" do
        = heroicon "chevron-left", variant: :mini, options: { class: "h-5 w-5" }
    - else
      %span{ class: "#{nav_link_classes(disabled: true)} rounded-l-md" }
        = heroicon "chevron-left", variant: :mini, options: { class: "h-5 w-5" }

    - pagy_obj.series.each do |item|
      - case item
      - when Integer
        = link_to item, pagy_url_for(pagy_obj, item), class: page_link_classes(active: item == pagy_obj.page)
      - when String
        %span{ class: page_link_classes(active: true) }= item
      - when :gap
        %span{ class: "#{page_link_classes} cursor-default" } ...

    - if pagy_obj.next
      = link_to pagy_url_for(pagy_obj, pagy_obj.next), class: "#{nav_link_classes} rounded-r-md" do
        = heroicon "chevron-right", variant: :mini, options: { class: "h-5 w-5" }
    - else
      %span{ class: "#{nav_link_classes(disabled: true)} rounded-r-md" }
        = heroicon "chevron-right", variant: :mini, options: { class: "h-5 w-5" }
