-# locals: (pagy:)
- if pagy.pages > 1
  - pg = IronAdmin.configuration.theme.pagination
  %nav{ class: "#{pg.view_wrapper} #{t.card_border} #{t.card_bg}", "aria-label": "Pagination" }
    .hidden{ class: "sm:block" }
      %p{ class: pg.info }
        Showing
        %span.font-medium= pagy.from
        to
        %span.font-medium= pagy.to
        of
        %span.font-medium= pagy.count
        results

    .flex.flex-1.justify-between{ class: "sm:justify-end" }
      - if pagy.previous
        = link_to url_for(request.query_parameters.merge(page: pagy.previous)),
          class: "#{pg.view_button} #{t.card_bg} #{cp_body_text}" do
          Previous
      - else
        %span{ class: "#{pg.view_disabled} #{t.card_bg}" }
          Previous

      - if pagy.next
        = link_to url_for(request.query_parameters.merge(page: pagy.next)),
          class: "ml-3 #{pg.view_button} #{t.card_bg} #{cp_body_text}" do
          Next
      - else
        %span{ class: "ml-3 #{pg.view_disabled} #{t.card_bg}" }
          Next
